@import '../../node_modules/bourbon/app/assets/stylesheets/_bourbon.scss';

$wt-md-min-width: 600px;
$wt-transition-duration: .5s;

.wt-app {

  form {

    /* Flexbox. */
    @include display(flex);
    @include justify-content(space-around);

    @include flex-direction(column);

    @media (min-width: $wt-md-min-width) {
      @include flex-direction(row);
    }

  }

  button, input {

    height: 30px;

    @media (min-width: $wt-md-min-width) {
        height: auto;
    }

  }

}

.wt-user-list {

  padding: 0px;

  li {

    height: 40px;

    @media(min-width: $wt-md-min-width) {
      height: 20px;
    }

    /* Flexbox. */
    @include display(flex);
    @include align-items(center);
    @include justify-content(space-around);

    /* Adding transition to:
     * 'background-color' property in order to change colors smoothly when an item is removed.
     * 'height' property as we set it to 0px when the item is removed. */
    @include transition-duration($wt-transition-duration);
    @include transition-property(background-color, height);
    @include transition-timing-function(ease-out);

    .wt-user-name {
      @include flex(1);
    }

    .wt-user-firstname {
      text-transform: capitalize;
    }

    .wt-user-lastname {
      text-transform: uppercase;
    }

    button {
      @include transition-duration($wt-transition-duration);
      @include transition-property(opacity);
      @include transition-timing-function(ease-out);
    }

  }

  li:nth-child(odd) {
    background-color: wheat;
  }

  li:not(:hover) button {

    @media(min-width: $wt-md-min-width) {
      opacity: 0;
    }

  }

}
