@mixin circle($width) {
    border-radius: 50%;
    border-style: solid;
    width: $width;
}

wt-user-list {

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    @media (orientation: landscape) {
        flex-direction: row;
        flex-wrap: wrap;
    }

    img {

        @include circle(100px);

        background-color: purple;

    }


}
